@import 'modern-normalize/modern-normalize.css';

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f7fa;

    .app {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                width: 50%;
                background-color: #ffffff;
                border: 1px solid #e0e6ed;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

                &__heading {
                    padding: 2rem;
                    margin: 0;
                }

                &__subheading {
                    padding: 0 2rem;
                    margin: 0;
                }
            }
        }
    }

}